node_modules/
changelog/
test/*
!test/pool3/
test/pool3/*
!test/pool3/*.cjs
!test/pool3/*.test.ts
test.*
dev/
lib/**/*.d.ts
*.log
*.txt
package-lock.json
obfuscate.js
.DS_Store
.claude/
.vscode/
CLAUDE.md
